@-ms-viewport{
    width: device-width;
  }

#welcome .background_image{
    height: 600px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/backgrounds/h_img.jpg');
  }

#welcome, #services{
  color: #ffffff;
}

#mouseClick{
  padding-top: 100px;
  position: absolute;
}

#aboutUs, #whatWeDo, #contactUs, #portfolio, #socialMedia, #services{
  margin-top: 50px;
}

#services .background_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/backgrounds/s_image.jpg');
}

#clickDesign, #clickDev, #clickProduct {
  display: none;
}

textarea {
  width: 600px;
  height: 300px;
}

#contactUs .background_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/backgrounds/c_image.jpg');
}

#contactUs h2 {
  color:#ffffff;
  text-align: center;
}

#hoverWork1, #hoverWork2, #hoverWork3, #hoverWork4, #hoverWork5, #hoverWork6, #hoverWork7, #hoverWork8 {
  color: #ffffff;
  display:none;
}
