#welcome .background_image{
    height: 600px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/backgrounds/h_img.jpg');
  }

#welcome{
  color: #ffffff;
}

#mouseClick{
  padding-top: 100px;
  position: absolute;
}

#aboutUs{
  margin-top: 50px;
}

#services{
  margin-top: 50px;
  color: #ffffff;
}

#services .background_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/backgrounds/s_image.jpg');
}

#whatWeDo {
  margin-top: 50px;
}

#clickDesign {
  display: none;
}

#clickDev {
  display: none;
}

#clickProduct {
  display: none;
}
